body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(9, 22, 136, 0.336);
    box-shadow: 8px 8px 35px rgb(2, 0, 3); 
}

h1 {
    text-align: center;
    color: white;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    background-color: rgb(48, 27, 155);
    color: rgb(238, 227, 227);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: black;
    background-color: white;
}

.results {
    margin-top: 20px;
    color: aliceblue;
}

.results p {
    font-size: 16px;
    line-height: 1.5;
    color: aliceblue;
}

.logo {
    max-width: 300px;
    display: flex;
    margin: 0 auto;
}

.metade {
    height: 260px;
    border-radius: 1px;
}

.circulo2 {
    width: 115px;
    height: 115px;
    border: solid 10px #0bb962;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-top: -70px;
    align-items: center;
}

#cima {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.x {
    height: 60px;
}

#voteModal {
    border-radius: 15px;
    margin-right: 33px;
    margin-bottom: 250px;
    
}
.modal-erro {
    border: none;
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(255, 0, 0, 0.8); 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); 
    color: white; 
    text-align: center; 
    width: 80%; 
    max-width: 400px; 
    margin: 0 auto; 
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content h2 {
    margin-bottom: 20px; 
    font-size: 18px;
    color: white; 
}

.erro {
    background-color: #ff4d4d; 
    color: white; 
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.erro:hover {
    background-color: #cc0000; 
    transform: scale(1.05); }

a {
    color: #ffffff; 
    text-decoration: none; 
    display: inline-block; 
    transition: 0.2s; 
    cursor: pointer;
    margin-top: 20px;
}

ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    text-align: center; 
}

ul li {
    display: inline-block; 
    padding: 0 30px; 
    font-size: 20px; 
}

a:hover {
    color: #1dd1f1; 
    transform: scale(1.05); 
    transition: 0.2s; }
.RA input {
        
                
    width: 95%; 
    padding: 10px; 
    margin-bottom: 17px; 
    border: 2px solid #1148a8 ; 
    border-radius: 5px; 
    box-sizing: border-box; 
    transition: 0.3s; 
    margin-top: 20px; 
    border-radius: 15px;
    margin-left: 4%;
  
    

}
