body{    background: linear-gradient(90deg, rgba(15,12,41,1) 0%, rgba(48,43,99,1) 35%, rgba(36,36,62,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body,              /* deixa todo o site com a mesma fonte que no caso é a san serif*/
textarea{
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    
}
.card{   /* aqui esta pesonalizando onde as pessoas possam escrever no seu formulário */
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 20px 50px #000;
    border-radius: 8px;
    width: 700px;
    padding: 84px 32px;
    font-size: 24px;
    border-bottom: #313131;
}


 .formulario{ /* nessa parte está ajustando o formulário dentro da caixa  para que o elementos se ajustem bem */
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    padding: 32px;
}
 
 textarea{
    width: calc(50% - 8px);
    height: 4000px;
    border-radius: 8px;
    border: thin solid #0a0000;
    padding-left: 16px;  
    margin-bottom: 16px;
    font-size: 16px;
}
h2{
    color: #fff;
}

textarea{ /*serve para regular a altura do formulario de comentario */
    width: 589px;
    height: 222px;
    padding: 16px;
}
 button{
    margin-left: 33%;
    border: none;
    outline: none;
    width: 180px;
    height: 48px;
    border-radius: 8px ;
    background: #573b8a;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
     
    
}
button:hover{
    background: #1dd1f1;
} 


 
  a{

    margin-top: 40px;
    margin-left: 44%;
    color: beige;
    text-decoration: none;
    
 }

@media (min-width:340px) and (max-width:500px){
    
h2{

margin-left: 110px;
width: 20px;

}

button{
    margin-left: 55px;
 
}
textarea{
 width: 250px;
}
 

}
